<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>TodoApp - Django</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
<a href="{% url 'TodoList'%}">Home</a>
<a> | </a>
<a href="{% url 'webpage2'%}">Getting Things Done</a>
<a> | </a>
<a href="{% url 'webpage2'%}">Situation</a>
<a> | </a>
<a href="{% url 'webpage2'%}">Workout</a>
<center>
<p></p>
<a href="{% url 'webpage2'%}">Getting Things Done</a>
<p></p>
<a href="{% url 'webpage2'%}">Situation</a>
</center>
<br>
<br>
<br>
<br>

<!-- Week target backlog item list: -->
<div django-app="TaskManager">        
	<div class="container">
            <div class="content">
            <h1>Week targets</h1>
            <form action="" method="post">
            {% csrf_token %} <!-- csrf token for basic security -->
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="SMARTe Fomulierung des Wochenziels?" name="week_target_description" required>
                    <label for="description">Description</label>
                </div>
                <div class="inputContainer">
                    <input type="text" id="comment" class="taskName" placeholder="Kommentar" name="comment">
                    <label for="comment">Comment</label>
                </div>
                <div class="inputContainer">
                    <input type="date" id="due_datetime" class="taskDate" name="due_datetime", value=timezone.now().strftime("%Y-%m-%d")>
                    <label for="due_datetime">Due Datetime</label>
                </div>
                <div class="inputContainer">
                    <input type="number" id="show_in_number_of_week_cycles" class="taskName" placeholder="Show in number of week cycles?" name="show_in_number_of_week_cycles">
                    <label for="show_in_number_of_week_cycles">Show In Number Of Week Cycles</label>
                </div>
                <div class="inputContainer">
                    <input type="number" id="is_during_working_hours" class="taskName" placeholder="Is during Working hours?" name="is_during_working_hours">
                    <label for="description">Is During Working Hours</label>
                </div>
                <div class="inputContainer half first right">
                    <input type="date" id="day_target_show_from_weekday" class="taskDate" name="day_target_show_from_weekday">
                    <label for="day_target_show_from_weekday">Day target show from weekday</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="day_target_show_to_weekday" class="taskDate" name="day_target_show_to_weekday">
                    <label for="day_target_show_to_weekday">Day target show to weekday</label>
                </div>
                <div class="inputContainer half first left">
                    <input type="date" id="associated_email_received_datetime" class="taskDate" name="associated_email_received_datetime">
                    <label for="associated_email_received_datetime">Associated Email Received Datetime</label>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="inputContainer">
                    <input type="text" id="associated_email_received_account" class="taskName" placeholder="Email Account" name="associated_email_received_account">
                    <label for="associated_email_received_account">Associated Email Received Account</label>
                </div>
                <br>
                <div class="inputContainer">
                    <input type="number" id="plan_duration_mins" class="taskName" placeholder="Plan Duration Mins" name="plan_duration_mins">
                    <label for="plan_duration_mins">Plan Duration Mins</label>
                </div>
                <br>
                <div class="inputContainer">
                    <input type="number" id="recurrence_period_weeks" class="taskName" placeholder="Recurrence Period Weeks" name="recurrence_period_weeks">
                    <label for="recurrence_period_weeks">Recurrence Period Weeks</label>
                </div>
                <div class="inputContainer">
                    <input type="text" id="status_category" class="taskName" placeholder="Status Category" name="status_category">
                    <label for="status_category">Status Category</label>
                </div>
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="Sorting Category Indistinguishable?" name="week_target_backlog_item_sorting_category_indistinguishable">
                    <label for="description">Sorting Category Indistinguishable</label>
                </div>
                <div class="row">
                    <button class="taskAdd" name="WeekTargetAdd" type="submit"><i class="fa fa-plus icon"></i>Add week target</button>
                    <button class="taskDelete" name="WeekTargetDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete week target</button>
                </div>
            
            <ul  class="taskList">
            {% for weektarget in weektargets %} <!-- django template lang - for loop -->
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ weektarget.id }}" value="{{ weektarget.id }}"> 
                    <label for="{{ weektarget.id }}"><span class="complete-">{{ weektarget.description }}</span></label>
                    <span class="category-{{ weektarget.comment }}">{{ weektarget.comment }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ weektarget.due_datetime }}</strong>
            {% endfor %}
            




            </ul><!-- taskList -->
            </form>
            </div><!-- content -->

 </div><!-- container -->
</div>

<br>
<br>
<br>


<!-- ToDoList ab hier -->

<div django-app="TaskManager">        
	<div class="container">
            <div class="content">
            <h1>To-Do List</h1>
            <p class="tagline">a Django app</p>
            <form action="" method="post">
            {% csrf_token %} <!-- csrf token for basic security -->
                <div class="inputContainer">
                    <input type="text" id="description" class="taskName" placeholder="Description?" name="description" required>
                    <label for="description">Description</label>
                </div>
                <div class="inputContainer half last">
                    <i class="fa fa-caret-down selectArrow"></i>
                    <select id="category" class="taskCategory" name="category_select">
                    <option class="disabled" value="">Choose a category</option>
                    {% for category in categories %}
                        <option class="" value="{{ category.name }}" name="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                    </select>
                    <label for="category">Category</label>
                </div>
                <div class="inputContainer half last right">
                    <input type="date" id="dueDate" class="taskDate" name="date">
                    <label for="dueDate">Due Date</label>
                </div>
                <div class="row">
                    <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add task</button>
                    <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>
                </div>
            
            
            <ul  class="taskList">
            {% for todo in todos %} <!-- django template lang - for loop -->
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}" value="{{ todo.id }}">
                    <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                    <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                </li>
            {% endfor %}
            
            
            </ul><!-- taskList -->
            </form>
            </div><!-- content -->

 </div><!-- container -->
</div>

<!-- ToDoList bis hier -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>